<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		$('#page_content').wrap('<span class="code_editor"></span>')
		var editor = CodeMirror.fromTextArea('page_content', {
			parserfile: ["parsexml.js", "parsecss.js", "tokenizejavascript.js", "parsejavascript.js", "parsehtmlmixed.js"],
			stylesheet: ["/codemirror/css/xmlcolors.css", "/codemirror/css/jscolors.css", "/codemirror/css/csscolors.css"],
			path: "/codemirror/js/",
			continuousScanning: 500,
			lineNumbers: true,
			autoMatchParens: true
		});
	});
</script>
<h2><%= @page.new_record? ? 'Nowy szablon' : 'Edycja szablonu' %></h2>
<div class="box editor">
	<% form_for [:admin, @page] do |f| %>
		<p>
			<span>
				<%= f.label :name, 'Nazwa' %>
				<%= error_for @page, :name %>
			</span>
			<%= f.text_field :name %>
		</p>
		<p>
			<span>
				<%= f.label :page_type, 'Typ' %>
			</span>
			<%= f.select :page_type, Page.types %>
		</p>
		<% content_tag :p, :style => @page.page_type == 1 ? 'display:block;' : 'display:none', :id => 'layout_box' do %>
			<span>
				<%= f.label :layout_id, 'Layout' %>
			</span>
			<%= f.select :layout_id, @shop.pages.all(:conditions => { :page_type => 0 }).map { |page| [page.name, page.id] }, { :include_blank => 'Brak layoutu' } %>
		<% end %>
		<p>
			<span>
				<%= f.label :content, 'Kod' %>
				<%= error_for @page, :content %>
			</span>
			<%= f.text_area :content %>
		</p>
		
		<div class="clear"></div>
		
		<p class="buttons">
			<span class="button">
				<input type="submit" value="Zapisz "/>
			</span>
			 <%= link_to 'anuluj', admin_pages_path %>
			<% unless @page.new_record? %>
				 albo 
				<%= link_to 'usuń', [:admin, @page], :method => :delete, :confirm => 'Czy na pewno chcesz usunąć ten produkt?' %>
			<% end %>
			<span class="clear"></span>
		</p>
	<% end %>
</div>
