<h2>Rejestracja</h2>

<div class="box">
<% semantic_form_for @shop do |f| %>
	
	<% f.inputs :name => "Nazwa sklepu" do %>
		<%= f.input :title %>
		<li class="string required" id="shop_domain_input">
			<%= f.label :domain, t('formtastic.labels.shop.domain')+'*' %>
			<%= f.text_field :domain %>.sklep.pl
			<p class="inline-hints">Podaj nazwę subdomeny podktórą będzie znajdował się twój sklep</p>
			<%= inline_errors @shop, :domain %>
		</li>
		
	<% end %>
	
	<% f.inputs :name => "Dane osobowe" do %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :sex, :as => :radio, :collection => [["Mężczyzna", 0], ["Kobieta", 1]] %>
		<%= f.input :birthdate, :start_year => 1900 %>
	<% end %>
	
	<% f.inputs :name => "Gdzie prowadzisz działalność" do %>
		<%= f.input :city %>
		<%= f.input :street %>
		<%= f.input :zip_code %>
		<%= f.input :phone %>
	<% end %>
	

	<% f.inputs :name => "Panel administracyjny" do %>
		<%= f.input :email %>
		<%= f.input :password, :as => :password %>
		<%= f.input :password_confirmation, :as => :password %>
	<% end %>
	
	<p>
		Akceptuję regulamin i <%= f.submit "chcę stworzyć konto" %>
	</p>


<% end %>
</div>