<div id="layout-right">	
	<h3>Najczęściej kupowane</h3>
	<ul id="featuring">
		{% for product in shop.popular_products %}
		<li class="featuring-list">
			<div class="featuring-image">
				<a href="{{ product | url_for_product }}" title="{{ product.name }}"><img src="{{ product | photo_url: '32x32' }}" alt="{{ product.name }}" /></a>
			</div>
			<div class="featuring-info">
				<a href="{{ produkt | url_for_produkt }}">{{ product.name }}</a><br />
				<small>{{ product.price }}</small>
			</div>
		</li>
		{% endfor %}
	</ul>
	<h3>Kategorie</h3>
	<ul id="collections">
		{% for category in shop.categories %}
		<li><a href="{{ category | category_url }}">{{ category.name }}</a></li>
		{% endfor %}
	</ul>
	<h3>Producenci</h3>
	<ul id="collections">
		{% for vendor in shop.vendors %}
		<li><a href="{{ vendor | vendor_url }}">{{ vendor.name }}</a></li>
		{% endfor %}
	</ul>
</div>