<p>
	<a href="/produkty/">Produkty</a> &#x2192; 
	{% if produkt.producent != empty %}
		<a href="{{ produkt.producent | url_for_producent }}">{{ produkt.producent.nazwa }}</a> &#x2192; 
	{% endif %}
	{% if produkt.kategoria != empty %}
		<a href="{{ produkt.kategoria | url_for_kategoria }}">{{ produkt.kategoria.nazwa }}</a> &#x2192; 
	{% endif %}
	<b>{{ produkt.nazwa }}</b>
</p>
<div id="product-left">
	<div id="product-image">
		<a href="{{ produkt | img_url }}" rel="facebox" title="{{ product.title }}"><img src="{{ produkt | img_url: 'large' }}" alt="{{ produkt.nazwa }}" /></a>
	</div>
	<div class="clear"></div>
	{% for zdjecie in produkt.zdjecia %}
		<div class="product-images">
			<a href="{{ zdjecie | img_url }} title="{{ produkt.nazwa }}" rel="facebox"><img src="{{ zdjecie | img_url: 'medium' }}" alt="{{ produkt.nazwa }}" /></a>
		</div>
	{% endfor %}
</div>
<div id="product-right">
	<h1>{{ produkt.nazwa }}</h1>
	{{ produkt.opis | textile }}
	<form action="/cart/add" method="post">
		<div id="product-variants">
			<ul>
				<li class="odd">
					<input type="radio" name="id" />
					<strong>Czarny 8 GB</strong>
					 za <span class="bold-blue">845 zł</span>
				</li>
				<li class="odds">
					<input type="radio" name="id" />
					<strong>Czarny 8 GB</strong>
					 za <span class="bold-blue">845 zł</span>
				</li>
			</ul>
		</div>
		<input type="image" src="/assets/purchase.png" name="add" value="Purchase" id="purchase" />
		<a href="/cart"><img src="/assets/checkout.png" /></a>
	</form>
</div>