<!-- BLOCK START -->
	<div class="block withsidebar">
		<!-- BLOCK HEAD START -->
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>
			
			<h2><%= @variant.new_record? ? "Tworzenie nowego wariantu produktu" : "Edycja wariantu produktu" %></h2>
			<ul>
				<li><%= link_to 'Wróć', admin_product_variants_path(@product) %></li>
			</ul>
		</div>
		<!-- BLOCK HEAD END -->
		
		<!-- BLOCK CONTENT START -->
		<div class="block_content">
			<!-- BLOCK CONTENT SIDEBAR START -->
			<div class="sidebar">
				<ul class="sidemenu">
					<%= sidebar_for_product %>
				</ul>

			</div>
			<!-- BLOCK CONTENT SIDEBAR END -->
			
			<!-- BLOCK CONTENT SIDEBAR CONTENT START -->
			<div class="sidebar_content">
				<% semantic_form_for([:admin, @product, @variant]) do |f| %>
					<% f.inputs do %>
						<% f.semantic_fields_for :options do |option_field| %>
							<% @product.option_types.each do |option_type| %>
								<%= option_type_for_variant(option_field, option_type, @variant) %>

							<% end %>
						<% end %>
					<% end %>
					<%= f.inputs :sku, :weight, :price, :required => false %>
					<hr />
	 				<%= f.submit 'Zapisz', :class => "submit" %>
				<% end %>
			</div>
			<!-- BLOCK CONTENT SIDEBAR CONTENT END -->
			
		</div>
		<!-- BLOCK CONTENT END -->
		
		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>
<!-- BLOCK END -->