<!-- BLOCK START -->
	<div class="block">
		<!-- BLOCK HEAD START -->
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>
			
			<h2>Szablony</h2>
			<ul>
				<li><%= link_to 'Dodaj stronę', new_admin_theme_path %></li>
				<li><%= link_to 'Wyślij plik', new_admin_product_path %></li>
				<li><%= link_to 'Zmień skórkę', new_admin_product_path, :class => 'add_button' %></li>
			</ul>
		</div>
		<!-- BLOCK HEAD END -->
		
		<!-- BLOCK CONTENT START -->
		<div class="block_content">
			<table width="100%" cellpading="0" cellspacing="0">
				<tr>
					<th>Nazwa</th>
					<th>Typ</th>
					<th> </th>
				</tr>
				<% @themes.each do |template| %>
				<tr>
					<td><%= link_to template.name.camelize, edit_admin_theme_path(template) %></td>
					<td><%= template.type_name %></td>
					<td><%= link_to 'usuń', [:admin, template], :method => :delete, :confirm => 'Czy na pewno chcesz usunąć ten szablon?' %></td>
				</tr>
				<% end %>
			</table>
			<div class="clear"></div>
		</div>
		<!-- BLOCK CONTENT END -->
		
		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>
<!-- BLOCK END -->