<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
	themes_controller.init();
});
</script>
<!-- BLOCK START -->
	<div class="block">
		<!-- BLOCK HEAD START -->
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>
			
			<h2><%= @page_template.new_record? ? 'Nowy szablon' : 'Edycja szablonu' %></h2>
			<ul>
				<li><%= link_to 'Wróć', admin_themes_path %></li>
			</ul>
		</div>
		<!-- BLOCK HEAD END -->
		
		<!-- BLOCK CONTENT START -->
		<div class="block_content">
			<% semantic_form_for [:admin, @page_template] do |f| %>
				<% f.inputs do %>
					<%= f.input :name unless @page_template.default %>
					<%= f.input :page_type, :as => :select, :collection => Theme.types %>
					<%= f.input :layout_id, :as => :select, :collection => @shop.themes.all(:conditions => { :page_type => 0 }).map { |template| [template.name, template.id] }, :include_blank => 'Brak layoutu' %>
				<% end %>
				<%= f.text_area :content %>
				<div class="clear"></div>
				
				<div>
					<%= f.submit "Zapisz", :class => "submit" %>
				</div>
			<% end %>
		</div>
		<!-- BLOCK CONTENT END -->
		
		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>
<!-- BLOCK END -->