<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		products_controller.init();
	});
</script>
<!-- BLOCK START -->
	<div class="block withsidebar">
		<!-- BLOCK HEAD START -->
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>
			
			<h2>Edycja produkt</h2>
			<ul>
				<li><%= link_to 'Wróć', admin_products_path %></li>
			</ul>
		</div>
		<!-- BLOCK HEAD END -->
		
		<!-- BLOCK CONTENT START -->
		<div class="block_content">
			<!-- BLOCK CONTENT SIDEBAR START -->
			<div class="sidebar">
				<ul class="sidemenu">
					<%= sidebar_for_product %>
				</ul>
			</div>
			<!-- BLOCK CONTENT SIDEBAR END -->
			
			<!-- BLOCK CONTENT SIDEBAR CONTENT START -->
			<div class="sidebar_content">
				<% semantic_form_for [:admin, @product], :html => { :multipart => true, :id => "product_form" } do |f| %>
					<% f.inputs do %>
						<%= f.input :name %>
						<%= f.input :tag_list %>
						<%= f.input :description %>
					<% end %>

					<hr />
					<%= f.submit "Zapisz", :class => "submit right" %>
				<% end %>
			</div>
			<!-- BLOCK CONTENT SIDEBAR CONTENT END -->
			
		</div>
		<!-- BLOCK CONTENT END -->
		
		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>
<!-- BLOCK END -->

