<div class="wrapper">
	<div class="sidebar">
		<%= link_to 'Dodaj produkt', new_admin_product_path, :class => 'add_button' %>
		<div class="item">
			<ul>
				<li><%= link_to "Prototyp", admin_prototypes_path %></li>
				<li><%= link_to "Prezentacja", admin_properties_path %></li>
				<li><%= link_to "Atrybuty", admin_option_types_path %></li>
			</ul>
		</div>
	</div>
	
	<div class="content" id="items">
		<%= render :partial => @products %>

		<%= will_paginate @products %>
	</div>
</div>