<div id="layout-left">
<h1>
	Nasze produkty
	{% if category %}
	 dla kategorii "{{ category.name }}"
	{% endif %}
	{% if vendor %}
	 dla producenta "{{ vendor.name }}"
	{% endif %}
</h1>
<p>
	<small>
		<a href="/produkty/">Produkty</a> &#x2192; 
		{% if category %}
		 <b>{{ category.name }}</b>
		{% endif %}
		{% if vendor %}
		 <b>{{ vendor.name }}</b>
		{% endif %}
	</small>
</p>
{% if products == empty %}
	<p>Brak produktów</p>
{% endif %}
{% for product in products %}
	<div style="float:left; margin: 5px">
		<div class="gallery-image">
			<a href="{{ product | product_url }}" title="{{ product.name }}"><img src="{{ product.main_photo | photo_url: '300x300' }}" alt="{{ product.name }}" /></a>
		</div>
		<div class="clear"></div>
		<div class="gallery-info">
			<a href="{{ product | product_url  }}">{{ product.name }}</a><br />
			<small>{{ product.price }}</small>
		</div>
	</div>
{% endfor %}
<div class="clear"></div>
</div>

{{ 'sidebar' | snippet }}