

<table>
  <tr>
    <th>Name</th>
    <th>Permalink</th>
    <th>Description</th>
    <th>User</th>
    <th>Category</th>
    <th>Vendor</th>
    <th>Vat</th>
    <th>Max Price</th>
    <th>Min Price</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%=h product.name %></td>
      <td><%=h product.permalink %></td>
      <td><%=h product.description %></td>
      <td><%=h product.user_id %></td>
      <td><%=h product.category_id %></td>
      <td><%=h product.vendor_id %></td>
      <td><%=h product.vat %></td>
      <td><%=h product.max_price %></td>
      <td><%=h product.min_price %></td>
      <td><%= link_to "Show", product %></td>
    </tr>
  <% end %>
</table>

