<!DOCTYPE html>
   
<html>
<head>
	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<%= stylesheet_link_tag 'formtastic', 'formtastic_changes', 'admin', 'jquery.wysiwyg', 'jquery.fancybox' %>
	<%= javascript_include_tag 'lib/jquery.js', 'lib/jquery-ui.js', 'lib/jquery.fancybox', 'lib/jquery.wysiwyg', '/codemirror/js/codemirror.js', 'controllers/application_controller', 'controllers/themes_controller', 'controllers/products_controller' %>
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="hdrl"></div>
			<div class="hdrr"></div>
			<h1>CoR</h1>
			<ul class="nav">
				<li><a href="#">Kokpit</a></li>
				<li><a href="#">Zamówienia</a></li>
				<li><a href="#">Magazyn</a></li>
				<li><%= link_to "Produkty", admin_products_path %></li>
				<li><%= link_to "Szablony", admin_themes_path %></li>
				<li><a href="#">Ustawienia</a></li>
			</ul>
			<div class="user">
				<%= link_to "Pokaż sklep", root_path(:subdomain => self.current_user.shop.domain) %> | <%= link_to 'Wyloguj', logout_path %>
			</div>
		</div>
	
		<% flash.each do |type, message| %>
		<div class="message <%= type %>">
			<p><%= message %></p>
			<span class="close"></span>
		</div>
		<% end %>
	
		<%= yield %>

		<footer>
			<p class="left">Cart on Rails</p>
			<p class="right">by Arkadiusz Buras</p>
		</footer>
	</div>
</body>
</html>